/* Footbar CSS */

.flexterluarG {
  max-width: 820px;
  width: 100%;
  background: white;
  position: fixed;
  bottom: 0;
  height: 64px;
  justify-content: space-between;
  border-top: 1px solid lightgrey;
  padding-bottom: 10px;
}

.IconG {
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 50%;
  height: 100%;
}

.jumlahOrderG {
  width: 18px;
  height: 18px;
  z-index: 2;
  border-radius: 50%;
  background: #d0021b;
  position: fixed;
  bottom: 75px;
  color: white;
  font-size: 14px;
}

.cartCircleG {
  width: 60px;
  height: 60px;
  border-radius: 50%;
  position: fixed;
  bottom: 34px;
  background: #118925;
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.5);
}

/* Sidebar. CSS */
.flexSidebarTerluarG {
  width: 250px;
  height: 100vh;
  border-right: 1px solid lightgrey;
  border-left: 1px solid lightgrey;
  padding: 10px;
  flex-direction: column;
  row-gap: 10px;
  top: 0;
  position: fixed;
  z-index: 3;
}

.menuStyleG {
  width: 100%;
  height: 48px;
  font-size: 16px;
  font-weight: 500;
  align-items: center;
  padding: 10px;
  border-radius: 10px;
  transition: 0.3s;
}

.menuStyleG:hover {
  background-color: #ecfff4;
  cursor: pointer;
}

.menuSidebarCartG {
  height: 48px;
  width: 95%;
  font-size: 16px;
  font-weight: 500;
  padding: 10px;
  border-radius: 10px;
  background: #118925;
  justify-content: space-between;
  align-items: center;
  color: white;
}

.menuSidebarCartG:hover {
  cursor: pointer;
}

.jumlahOrderSidebarG {
  width: 18px;
  height: 18px;
  border-radius: "50px";
  background: #d0021b;
  color: white;
  border-radius: 50%;
}
