/* Footbar CSS */

.flexterluarG {
  max-width: 820px;
  width: 100%;
  background: white;
  position: fixed;
  bottom: 0;
  height: 64px;
  justify-content: space-between;
  border-top: 1px solid lightgrey;
  padding-bottom: 10px;
}

.IconG {
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 50%;
  height: 100%;
}

.jumlahOrderG {
  width: 18px;
  height: 18px;
  z-index: 2;
  border-radius: 50%;
  background: #d0021b;
  position: fixed;
  bottom: 75px;
  color: white;
  font-size: 14px;
}

.cartCircleG {
  width: 60px;
  height: 60px;
  border-radius: 50%;
  position: fixed;
  bottom: 34px;
  background: #118925;
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.5);
}

/* sidebar-mini.css */
.miniflexSidebarTerluarG {
  max-width: 58px;
  width: 100%;
  height: 100vh;
  border-right: 1px solid lightgrey;
  /* border-left: 1px solid lightgrey; */
  padding: 10px;
  flex-direction: column;
  row-gap: 10px;
  position: sticky;
  z-index: 3;
  top: 0;
}

.minimenuStyleG {
  width: 100%;
  max-height: 48px;
  height: 100%;
  font-size: 16px;
  font-weight: 500;
  align-items: center;
  /* padding: 10px; */
  border-radius: 10px;
  transition: 0.3s;
  justify-content: center;
}

.miniIconG {
  font-size: 28px;
}

.minimenuStyleG:hover {
  background-color: #ecfff4;
  cursor: pointer;
}

.minimenuSidebarCartG {
  height: 48px;
  width: 95%;
  font-size: 16px;
  font-weight: 500;
  border-radius: 10px;
  background: #118925;
  justify-content: center;
  align-items: center;
  color: white;
}

.minimenuSidebarCartG:hover {
  cursor: pointer;
}

.minijumlahOrderSidebarG {
  width: 18px;
  height: 18px;
  border-radius: "50px";
  background: #d0021b;
  color: white;
  border-radius: 50%;
  z-index: 1;
  position: absolute;
  bottom: 70px;
  left: 50px;
}

/* Sidebar. CSS */
.flexSidebarTerluarG {
  width: 250px;
  height: 100vh;
  border-right: 1px solid lightgrey;
  /* border-left: 1px solid lightgrey; */
  padding: 10px;
  flex-direction: column;
  row-gap: 10px;
  top: 0;
  position: sticky;
  z-index: 1;
}

.menuStyleG {
  width: 100%;
  height: 48px;
  font-size: 16px;
  font-weight: 500;
  align-items: center;
  padding: 10px;
  border-radius: 10px;
  transition: 0.3s;
}

.menuStyleG:hover {
  background-color: #ecfff4;
  cursor: pointer;
}

.menuSidebarCartG {
  height: 48px;
  width: 95%;
  font-size: 16px;
  font-weight: 500;
  padding: 10px;
  border-radius: 10px;
  background: #118925;
  justify-content: space-between;
  align-items: center;
  color: white;
}

.menuSidebarCartG:hover {
  cursor: pointer;
}

.jumlahOrderSidebarG {
  width: 18px;
  height: 18px;
  border-radius: "50px";
  background: #d0021b;
  color: white;
  border-radius: 50%;
}

/* sidebar-mini.css */
.miniflexSidebarTerluarG {
  max-width: 88px;
  min-width: 68px;
  width: 100%;
  height: 100vh;
  border-right: 1px solid lightgrey;
  /* border-left: 1px solid lightgrey; */
  padding: 10px;
}
/* admin-order-content.css */
.gridMenuG {
  max-width: 250px;
  width: 100%;
  gap: 20px;
  grid-template-columns: repeat(3, 1fr);
  flex-wrap: wrap;

  @media (max-width: 1070px) {
    grid-template-columns: repeat(2, 1fr);
  }

  @media (max-width: 880px) {
    grid-template-columns: repeat(3, 1fr);
  }
  @media (max-width: 820px) {
    grid-template-columns: repeat(2, 1fr);
  }
  @media (max-width: 550px) {
    grid-template-columns: repeat(1, 1fr);
  }
}

.menuTotalG {
  max-width: 250px;
  width: 250px;
  height: 120px;
  border: 1px solid lightgrey;
  border-radius: 15px;
  padding: 20px;
  gap: 20px;
  align-items: center;
  background: white;
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.4);
}
.tableHeadG {
  width: 100%;
  height: 40px;
  border: 1px solid lightgrey;
  border-radius: 10px;
  font-weight: 500;
  align-items: center;
  padding: 0px 20px;
  background-color: white;
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.2);
  overflow: scroll;
}
.tableHeadG::-webkit-scrollbar {
  display: none;
}
.tableHeadMenuG {
  width: 100%;
  min-width: 810px;
}
th {
  text-align: center;
}
.tableRowG {
  width: 100%;
  height: 50px;
  border: 1px solid lightgrey;
  border-radius: 10px;
  align-items: center;
  padding: 0px 20px;
  background: white;
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.2);
  overflow: scroll;
  font-size: 14px;
}
.tableRowG::-webkit-scrollbar {
  display: none;
}

/* admin-sidebar.css */
.flexTerluarG {
  max-width: 250px;
  width: 100%;
  height: 100vh;
  border-left: 1px solid lightgrey;
  flex-direction: column;
  row-gap: 10px;
  position: sticky;
  z-index: 3;
  top: 0;
  align-items: center;
}

.adminMenuStyleG {
  width: 80%;
  height: 48px;
  font-size: 16px;
  font-weight: 500;
  align-items: center;
  padding: 10px;
  border-radius: 10px;
  transition: 0.3s;
  gap: 10px;
  padding-left: 45px;
}

.adminMenuStyleG:hover {
  background-color: #fff4dd;
  cursor: pointer;
}

.adminMiniFlexG {
  width: 5px;
  height: 100%;
  border-top-right-radius: 4px;
  border-bottom-right-radius: 4px;
}

.adminSubMenuG {
  width: 80%;
  font-size: 14px;
  font-weight: 500;
  padding-left: 50px;
  color: gray;
  flex-direction: column;
  row-gap: 10px;
}

/* web-content-keranjang.css */
.flexLuarG {
  max-width: 910px;
  width: 100%;
  padding: 80px 20px 20px;
  gap: 20px;
  background: red;
}

/* content-pembayaran.css */
.tombolMerah70 {
  width: 70%;
  padding: 5px;
  background: #f7d1d5;
  color: red;
  font-size: 16px;
  font-weight: 500;
  border-radius: 10px;
  letter-spacing: 1px;
}
.tombolHijau70 {
  width: 70%;
  padding: 5px;
  background: #2a960c;
  color: white;
  font-size: 16px;
  font-weight: 500;
  border-radius: 10px;
  letter-spacing: 1px;
  @media (max-width: 780px) {
    font-size: 14px;
  }
}

.tombolDaftarPesanan {
  max-width: 910px;
  width: 100%;
  height: 60px;
  font-size: 20px;
  font-weight: 600;
  color: #2a960c;
  position: sticky;
  bottom: 0;
  box-shadow: 0px -4px 10px rgba(0, 0, 0, 0.3);
  z-index: 1;
  background: white;
}

/* content-detail-pesanan */
.boxShadow {
  width: 100%;
  padding: 20px;
  flex-direction: column;
  row-gap: 20px;
  font-size: 18px;
  font-weight: 500;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.2), 0px -4px 10px rgba(0, 0, 0, 0.2);
}

/* keranjang-voucher.css */
.voucherFontRes {
  width: 100%;
  font-size: 14px;
  font-weight: 500;
}
@media (max-width: 940px) {
  .voucherFontRes {
    font-size: 11px;
  }
}
@media (max-width: 700px) {
  .voucherFontRes {
    font-size: 14px;
  }
}
.InputVoucher {
  height: 32px;
  width: 200px;
}

.tombolPakai {
  width: 70px;
  height: 32px;
  font-size: 12px;
  font-weight: 500;
  color: white;
  border-radius: 5px;
  background: #2a960c;
}

@media (max-width: 940px) {
  .tombolPakai {
    font-size: 10px;
    width: 70%;
    height: 70%;
  }
}
@media (max-width: 700px) {
  .tombolPakai {
    font-size: 12px;
    width: 100%;
    height: 100%;
  }
}

/* modal-product.css */
.centerTerluarG {
  width: 100%;
  height: 500px;
  border-radius: 10px;
  flex-direction: column;
}

.modalProdFlexG {
  width: 100%;
  height: 70px;
  z-index: 1;
  position: absolute;
  top: 0;
  padding: 16px;
  align-items: center;
}

.prodImageG {
  width: 100%;
  height: 400px;
  object-fit: contain;
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
}

.flexHargaG {
  width: 100%;
  height: 200px;
  padding: 8px 12px 12px 12px;
  flex-direction: column;
  row-gap: 6px;
}

.styleHargaG {
  font-size: 20px;
  font-weight: 700;
  color: #f25f0c;
  padding-top: 12px;
}

.buy1get1G {
  width: 20%;
  border-radius: 5px;
  color: green;
  background-color: rgb(231, 244, 49);
}

.redDiscountG {
  width: 15%;
  border-radius: 50%;
  background: red;
  color: white;
}

.footerModalG {
  width: 100%;
  height: 70px;
  padding: 16px;
  justify-content: space-between;
  border-bottom-left-radius: 15px;
  border-bottom-right-radius: 15px;
}

.redDotCountG {
  width: 15px;
  height: 15px;
  z-index: 1;
  border-radius: 50%;
  background: #d0021b;
  position: absolute;
  bottom: 40px;
  color: white;
  font-size: 11px;
}

.counterQtyG {
  width: 20%;
  height: 40px;
  border-radius: 10px;
  border: 1px solid black;
  justify-content: space-around;
  align-items: center;
}

.countNumberG {
  font-size: 20px;
  font-weight: 500;
  align-items: center;
  padding-bottom: 2px;
  height: 100%;
}

.tombolAddtoCart {
  width: 40%;
  height: 40px;
  border-radius: 10px;
  background: #48744d;
  color: white;
}

/* content-pesanan.css */
.statusRowG {
  width: 100%;
  padding: 70px 20px 10px 20px;
  border-bottom: 1px solid lightgray;
  overflow-x: auto;
  flex-wrap: nowrap;
}
.statusRowG::-webkit-scrollbar {
  display: none;
  align-items: center;
}

.adminMenuStyleG {
  width: 80%;
  height: 48px;
  font-size: 16px;
  font-weight: 500;
  align-items: center;
  padding: 10px;
  border-radius: 10px;
  transition: 0.3s;
  gap: 10px;
  padding-left: 45px;
}

.adminMenuStyleG:hover {
  background-color: #fff4dd;
  cursor: pointer;
}

.adminMiniFlexG {
  width: 5px;
  height: 100%;
  border-top-right-radius: 4px;
  border-bottom-right-radius: 4px;
}

.adminSubMenuG {
  width: 80%;
  font-size: 14px;
  font-weight: 500;
  padding-left: 50px;
  color: gray;
  flex-direction: column;
  row-gap: 10px;
}
