/* ini CSS untuk vefiry dan notfound */
.logo_samping {
  display: flex;

  @media (max-width: 600px) {
    display: none;
  }
}

.logo_atas {
  display: flex;

  @media (min-width: 601px) {
    display: none;
  }
}

/* ini CSS untuk content navbar dan sidebar dasboard admin */

/* content */
.dash-content {
  flex-direction: column;
  gap: 5%;
  padding-left: 220px;
  padding-top: 100px;
  padding-right: 10px;
  height: 100vh;
  width: 100%;
  max-width: 1160px;
  position: absolute;
  z-index: 0;
}

.dash-content-highlight {
  height: 100%;
  width: 23%;
  min-width: 15%;
  border-radius: 5px;
  padding: 5px;
}

@media (max-width: 550px) {
  .dash-content-highlight {
    height: 100%;
    padding: 5px;
    width: 50%;
  }
}

@media (max-width: 768px) {
  .dash-content-highlight {
    padding: 5px;
    width: 40%;
  }
}

/* navbar */
.navbarR {
  display: flex;
  width: 100%;
  max-width: 767px;
  min-width: 80px;
  height: 80px;
  justify-content: center;
  align-items: center;
  position: absolute;
  z-index: 4;
}

@media (min-width: 768px) {
  .navbarR {
    display: none;
  }

  .dash-content {
    padding-top: 3%;
  }
}

/* sidebar */

.sidebarR {
  /* display: flex; */
  background-color: #fff;
  height: 100vh;
  min-height: 100vh;
  width: 100%;
  max-width: 200px;
  border-right: 1px solid #e2dada;
  position: absolute;
  z-index: 10;
  flex-direction: column;
  column-gap: 4;
  padding-left: 2;
  padding-right: 2;
}

@media (max-width: 767px) {
  .sidebarR {
    display: none;
  }

  .dash-content {
    padding-left: 5%;
    width: 90%;
  }
}

.flex-bungkus-item-sidebarR {
  height: 50%;
  width: 100%;
  flex-direction: column;
  border-top: 1px solid #e2dada;
  border-bottom: 1px solid #e2dada;
  gap: 5%;
}
.flex-logo-sidebarR {
  height: 15%;
  width: 100%;
  justify-content: center;
  align-items: center;
  padding: 2%;
}

.flex-item-sidebarR {
  height: 30%;
  width: 100%;
  justify-content: center;
  transition: 1s;
  border-top-left-radius: 10px;
  border-bottom-right-radius: 10px;
  cursor: pointer;
}
.flex-item-sidebarR:hover {
  background: rgb(113, 243, 123);
}

.box-sidebarR {
  font-weight: bolder;
  font-size: large;
  height: 100%;
  width: 70%;
  display: flex;
  align-items: center;
}

.flex1R {
  margin-left: 12%;
  width: 100%;
  max-width: 1160px;
  height: 100vh;
  box-shadow: black;

  @media (max-width: 767px) {
    margin-left: 0%;
    width: 100%;
    max-width: 767px;
    height: 100vh;
  }
}

/* untuk table */

.custom-table {
  border-collapse: separate;
  border-spacing: 0 10px; /* Adjust the spacing value as needed */
}

.table-row {
  border-radius: 20px;
  transition: transform 0.5s ease, box-shadow 0.5s ease;
  padding: 5px;
  background: whitesmoke;
  color: black;
  /* font-weight: bold; */
}

.table-row:hover {
  transform: scale(
    1.05
  ); /* Adjust the scale value as needed for the hover effect */
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1); /* Adjust the shadow value as needed */
  /* background: #c6f6d5; */
  background: #ebe98e;
}
