.flex2R {
  display: flex;
  cursor: pointer;
  flex-direction: row;
  justify-content: right;
  gap: 2%;
  color: green;
  font-weight: bolder;
  border-bottom: 1px solid green;
}

.responsiveProfile {
  width: 100%;
  max-width: 910px;
  height: 100vh;
  box-shadow: lightgray;
  gap: 20px;
  padding: 20px;
}

@media (max-width: 600px) {
  .responsiveProfile {
    flex-direction: column;
    padding: 20px 20px 100px 20px;
  }
}
